/* Header Image: https://user-images.githubusercontent.com/26179770/106359099-693e3380-6336-11eb-8069-9e36f25de5ca.png */
body {
  background-color: #0f1228;
  overflow-x: hidden;
  color: #e7e9f0;
}
